*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Helvetica',sans-serif;
    margin: 0;
}

h1{font-size: 3.5em ;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px; /*se usa para redondear los bordes de los botones*/
    border: 2px solid rgb(0,0,0,0.5);
    color:white;
    background-color: rgb(44, 185, 44);
}

button:hover{
    background-color: green;

}

.container{
    max-width: 1400px;
    margin:auto; 
    
}

.color-acento{color: green;}

header{
    background-color: antiquewhite;
 
}
header .logo{
    margin: 0;
    padding:70px 30px;
    text-align: center;
    color:chocolate;
    font-weight: bold;
    font-size: 2em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
      
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

header a:hover{
    color:greenyellow
}

#hero{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color:rgb(202, 199, 199);
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("media/cerezo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: whitesmoke

}



#Fan-de-las-Flores .container{
    text-align: center;
    padding: 200px 12px;
    background-color: antiquewhite;
}

#Esencias{
    background-color: rgb(199, 133, 174);
    color: rgb(137, 238, 145);
    text-align: center;
}

#Esencias .container{
    padding: 100px 0px ;
}

#Esencias h2{
    margin-top: 0;
    font-size:3em ;
}

#Esencias p{
    display: none;
}

#Esencias .carta{
    background-position: center center;
    background-size: cover;
    padding:50px 0px;
    margin: 30px;
    border-radius: 15px ;

}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.35),
        rgba(0,0,0,0.35)
    )
    ,url("media/sunflower.jpg");
    }

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.35),
        rgba(0,0,0,0.35)
    )
    ,url("media/leaf.jpg")
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.35),
        rgba(0,0,0,0.35)
    )
    ,url("media/armillar.jpg")
}

#caracteristicas .container{
    text-align: center;
    padding: 100px 12px;
}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
    font-size: 2em;

}

#inicia-ya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: blueviolet;
    color: whitesmoke;
    height: 80vh;
    padding: 50px 12px;
}

#inicia-ya h2{
    font-size: 9vw;
}

#inicia-ya button{
    font-size: 5vw;
}

footer{
    background-color:  rgb(199, 133, 174)
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header .container{
        flex-direction: row;
        justify-content: space-between;
    } 

    header .nav{
        flex-direction: row;
        padding-bottom: 0;
    }

}

