*{
    box-sizing: border-box;
    margin:0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Helvetica',sans-serif;
    margin:0;
}

h1{font-size: 3.5em}
h2{font-size: 2.7em}
h3{font-size: 2em}
p{font-size: 1.25em}
ul{list-style: none}
li{font-size: 1em}

button{
    font-size: 2.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px; /*se usa para redondear los bordes de los botones*/
    border: 2px solid #0000007F;
    color:#0F0E0EBF;
    background-color: #2CB92C
}

button:hover{
    background-color: #008000;
    cursor:pointer;
}

.container{
    max-width: 2600px;
    margin:0
}

.color-acento{
    color: #1F9925
}

header{
    background-color: #FAEDD7E0;
    position:fixed;
    width: 100%;
}

header .logo{
    margin:0;
    padding:20px 20px;
    text-align: center;
    color:#B15E22;
    font-weight: bold;
    font-size: 1em;
  }

header .container{
    display:flex;
    flex-direction: rigth;
    align-items: center;
}

header .container nav{
    display:none;
}

#hero {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    color: #FAEBD7;
    background-image:linear-gradient(
        0deg,
        #0000007F,
        #0000007F
    ),
    url("media/cerezo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:center center;
}

#hero2{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: #FAEBD7;
    background-image:linear-gradient(
        0deg,
        #0000007F,
        #0000007F
    ),
    url("media/sunflower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

#hero3{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: #FAEBD7;
    background-image:linear-gradient(
        0deg,
        #0000007F,
        #0000007F
    ),
    url("media/leaf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center

}

#hero4{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: #FAEBD7;
    background-image:linear-gradient(
        0deg,
        #0000007F,
        #0000007F
    ),
    url("media/armillar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

#herosuscription {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 150vh;
    color: #FAEBD7;
    background-image:linear-gradient(
        0deg,
        #0000007F,
        #0000007F
    ),
    url("media/cuchara-esencia.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo-redes{
    min-width:15px;
    margin: 20px;
    border-radius: 15px;
}

#fandelasflores .container{
    text-align: center;
    padding: 100px 15px;
    background-color:#FAEBD7;
    background-size: cover;
}

#videobeneficios {
   background-color: #008000;
   margin: 0 auto;
   align-content: center;
   padding: 2em;
   display:flex;
}

#esencias{
    background-color: #FAEBD7;
    color: #1F9925;
    text-align: center;
}

#esencias .container{
    padding: 100px 10px;
}

#esencias h2{
    margin-top: 0;
    font-size:3em;
}

#esencias p{
    display:none
}

#esencias .carta{
    background-position: center center;
    background-size: cover;
    padding:50px 30px;
    margin: 15px;
    border-radius: 15px
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        #00000059,
        #00000059
    )
    ,url("media/sunflower.jpg");
    color:#FAEBD7
    }

.carta:nth-child(2){
    background-image: url("media/leaf.jpg");
    color:#FAEBD7
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        #00000059,
        #00000059
    )
    ,url("media/armillar.jpg");
    color:#FAEBD7
}

#caracteristicas .container{
    text-align: center;
    padding: 30px 12px;
    background-color:#FAEBD7;
    
}

#caracteristicas li{
    margin: 0px 0px;
    font-weight: bolder;
    text-align: left;
    font-size: 1em
}

#iniciaya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #E4ACF1;
    color: #FAEBD7;
    height: 20vh;
    padding: 30px 12px
}

#iniciaya h2{
    font-size: 2em;
}

#iniciaya button{
    font-size: 2em;
}

footer{
    background-color: #767077EA;
}

footer .container{
    height: 10vm;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center
}


