*{
    box-sizing: border-box;
    margin:0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Helvetica',sans-serif;
    margin:0;
}

h1{font-size: 3.5em ;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px; /*se usa para redondear los bordes de los botones*/
    border: 2px solid #0000007F;
    color:#0F0E0EBF;
    background-color: #2CB92C;
}

button:hover{
    background-color: #008000;
    cursor:pointer; 
}

.container{
    max-width: 1400px;
    margin:auto;  
}

.color-acento{color: #3FCF3F;}

header{
    background-color: #FAEBD7;
    
 
}
header .logo{
    margin:0;
    padding:50px 30px;
    text-align: center;
    color:#B15E22;
    font-weight: bold;
    font-size: 2em;
}

header .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
      
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

header a:hover{
    color:#ADFF2F;
}

#hero {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color:#1F0707;
    background-image:linear-gradient(
        0deg,
        #0000007F,
        #0000007F
    ),
    url("media/cerezo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero2{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color:#1F0707;
    background-image:linear-gradient(
        0deg,
        #0000007F,
        #0000007F
    ),
    url("media/sunflower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero {
    color: #FAEBD7;
}

#hero2 {
    color: #FAEBD7;
}


#Fan-de-las-Flores .container{
    text-align: center;
    padding: 150px 10px;
    background-color: #FAEBD7;
}

#esencias{
    background-color: 6FC977;
    color: #1F9925;
    text-align: center;
}

#esencias .container{
    padding: 100px 0px ;
}

#esencias h2{
    margin-top: 0;
    font-size:3em ;
}

#esencias p{
    display:none;
}

#esencias .carta{
    background-position: center center;
    background-size: cover;
    padding:50px 30px;
    margin: 15px;
    border-radius: 15px ;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        #00000059,
        #00000059
    )
    ,url("media/sunflower.jpg");
    color:#FAEBD7
    }

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        #00000059,
        #00000059
    )
    ,url("media/leaf.jpg");
    color:#FAEBD7
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        #00000059,
        #00000059
    )
    ,url("media/armillar.jpg");
    color:#FAEBD7
}

#caracteristicas .container{
    text-align: center;
    padding: 30px 12px;
}

#caracteristicas li{
    margin: 0px 0px;
    font-weight: bolder;
    font-size: 1.5em;

}

#inicia-ya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #D279E9;
    color: #FAEBD7;
    height: 30vh;
    padding: 30px 12px;
}

#inicia-ya h2{
    font-size: 4vw;
}

#inicia-ya button{
    font-size: 20px;
}

footer{
    background-color: #8A6F9184
}

footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width:100%;
    }    

    header .container{
        flex-direction: row;
        justify-content: space-between;
    } 

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero{
        padding: 400px 30px;
    }


    #Fan-de-las-Flores .container{
        display: flex; 
        justify-content: space-evenly;       
    }

    #Fan-de-las-Flores .texto{
        width:50%;
        max-width:600px;
        padding: 30px 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    #Fan-de-las-Flores .img-container{
        background-image:url("media/arreglo-gotas.avif");
        background-size: cover;
        background-position:center center ;
        height:500px;
        width:50%;
    }

    #esencias .textoesencias{
        display:flex;
    }
    
    #esencias h3{
        margin-top:0;
    }

    #esencias p{
        display:block;
        margin-bottom: 20px;
    }

    #esencias .carta{
        padding: 20px;
    }


}

